@tailwind base;
@tailwind components;
@tailwind utilities;





@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #095256;
    --secondary-color: #087f8c;
    --tertiary-color: #5aaa95;
    --fourth-color: #86a873;
    --fifth-color: #bb9f06;
  }
}

body {
  color: var(--primary-color);
  background: var(--secondary-color);
    
}



