@tailwind base;
@tailwind components;
@tailwind utilities;





@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #497376;
    --secondary-color: #48777e;
    --tertiary-color: #43a289;
    --fourth-color: #86a873;
    --fifth-color: #51d2b8;
    --sixt-color: black;
  }
}

body {
  color: var(--primary-color);
  background: var(--secondary-color);   
}



